/* You can add global styles to this file, and also import other style files */
@import "leaflet/dist/leaflet.css";
/* styles.css */
:root {
  --primary-color: #4f46e5; /* Indigo */
  --secondary-color: #818cf8;
  --bg-color: #f3f4f6;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --card-bg: #ffffff;
  --shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-dark);
  margin: 0;
  padding-bottom: 40px;
}

/* Scrollbar personalizzata */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #c7c7c7;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}